/.build/*
.envrc
.kompile*
.kprove*
.krun*
/media/*.pdf
/optimizer/*.json
/optimizer/*.k
/package/pkg
/package/src
/pkg
/tests/**/*.debug-log
/tests/**/*.rule-profile
/tests/specs/foundry/*.out
/tests/specs/**/haskell
/tests/specs/**/java
/tests/specs/opcodes/evm-optimizations-spec.md
/tests/specs/**/*.prove.out
/tests/specs/**/*.sol.json
/tests/vm/*.out
