[submodule "tests/ethereum-tests"]
	path = tests/ethereum-tests
	url = https://github.com/ethereum/tests.git
	branch = develop
	ignore = untracked
[submodule ".build/k"]
	path = .build/k
	url = https://github.com/kframework/k
	ignore = untracked
[submodule ".build/secp256k1"]
	path = .build/secp256k1
	url = https://github.com/bitcoin-core/secp256k1
	ignore = untracked
[submodule ".build/pandoc-tangle"]
	path = .build/pandoc-tangle
	url = https://github.com/ehildenb/pandoc-tangle
	ignore = untracked
[submodule "tests/proofs"]
	path = tests/proofs
	url = https://github.com/runtimeverification/verified-smart-contracts.git
	branch = master
	ignore = untracked
[submodule "plugin"]
	path = plugin
	url = https://github.com/runtimeverification/blockchain-k-plugin
	ignore = untracked
[submodule ".build/media/metropolis"]
	path = .build/media/metropolis
	url = https://github.com/matze/mtheme
