# See the 'exclude everything except directory foo/bar'
# example in the gitignore man page to understand how this works.
/.build/*
/tests/proofs/*

!/.build/secp256k1
!/.build/k
!/.build/pandoc-tangle

!/.build/sphinx-docs
/.build/sphinx-docs/*
!/.build/sphinx-docs/conf.py

# This holds the tests that are split into one test per file from
# the ethereum tests
/tests/VMTests
/tests/BlockchainTests

# Directory for storing temporary files like logs, snippets and TODO lists.
/tmp

# TODO: The RVK make recipie should be putting these in .build
/KRYPTO.cmi
/KRYPTO.cmx
/KRYPTO.o
/semantics.a
/semantics.cmxa

# Documentation ignores
docs/build
