[submodule "tests/ethereum-tests"]
	path = tests/ethereum-tests
	url = https://github.com/ethereum/tests.git
	branch = develop
	ignore = untracked
[submodule "deps/k"]
	path = deps/k
	url = https://github.com/runtimeverification/k
	ignore = untracked
[submodule "deps/plugin"]
	path = deps/plugin
	url = https://github.com/runtimeverification/blockchain-k-plugin
	ignore = untracked
[submodule "deps/metropolis"]
	path = deps/metropolis
	url = https://github.com/matze/mtheme
	ignore = untracked
[submodule "web/k-web-theme"]
	path = web/k-web-theme
	url = https://github.com/runtimeverification/k-web-theme
[submodule "tests/foundry/lib/forge-std"]
	path = tests/foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
