[submodule "tests/ethereum-tests"]
	path = tests/ethereum-tests
	url = https://github.com/ethereum/tests.git
	branch = develop
[submodule "tests/ci/uiuc-k"]
	path = tests/ci/uiuc-k
	url = https://github.com/kframework/k/
[submodule "tests/ci/rv-k"]
	path = tests/ci/rv-k
	url = https://github.com/runtimeverification/k
	# `with-k rvk` needs to create a stubbed `libz.a`
	ignore = untracked
[submodule ".build/secp256k1"]
	path = .build/secp256k1
	url = https://github.com/bitcoin-core/secp256k1
