[project]
name = "evm-semantics"
version = "0.1.0"
source = "include/kframework/"

[dependencies]
plugin = { path = "deps/" }

[targets.haskell]
backend = "haskell"
main-file = "edsl.md"
main-module = "EDSL"
syntax-module = "EDSL"
md-selector = "k & ! nobytes & ! node"
hook-namespaces = [ "JSON", "KRYPTO", "BLOCKCHAIN" ]
emit-json = true
concrete-rules = [
    "EVM.allBut64th.pos",
    "EVM.Caddraccess",
    "EVM.Cbalance.new",
    "EVM.Cbalance.old",
    "EVM.Cextcodecopy.new",
    "EVM.Cextcodecopy.old",
    "EVM.Cextcodehash.new",
    "EVM.Cextcodehash.old",
    "EVM.Cextcodesize.new",
    "EVM.Cextcodesize.old",
    "EVM.Cextra.new",
    "EVM.Cextra.old",
    "EVM.Cgascap",
    "EVM.Cmem",
    "EVM.Cmodexp.new",
    "EVM.Cmodexp.old",
    "EVM.Csload.new",
    "EVM.Csstore.new",
    "EVM.Csstore.old",
    "EVM.Cstorageaccess",
    "EVM.ecrec",
    "EVM.#memoryUsageUpdate.some",
    "EVM.Rsstore.new",
    "EVM.Rsstore.old",
    "EVM-TYPES.#asByteStack",
    "EVM-TYPES.#asByteStackAux.recursive",
    "EVM-TYPES.#asWord.recursive",
    "EVM-TYPES.ByteArray.range",
    "EVM-TYPES.bytesRange",
    "EVM-TYPES.mapWriteBytes.recursive",
    "EVM-TYPES.#padRightToWidth",
    "EVM-TYPES.padRightToWidthNonEmpty",
    "EVM-TYPES.#padToWidth",
    "EVM-TYPES.padToWidthNonEmpty",
    "EVM-TYPES.powmod.nonzero",
    "EVM-TYPES.powmod.zero",
    "EVM-TYPES.#range",
    "EVM-TYPES.signextend.invalid",
    "EVM-TYPES.signextend.negative",
    "EVM-TYPES.signextend.positive",
    "EVM-TYPES.upDivInt",
    "SERIALIZATION.addrFromPrivateKey",
    "SERIALIZATION.keccak",
    "SERIALIZATION.#newAddr",
    "SERIALIZATION.#newAddrCreate2",
]

[targets.llvm-linux]
backend = "llvm"
main-file = "edsl.md"
main-module = "EDSL"
syntax-module = "EDSL"
md-selector = "k & ! node"
hook-namespaces = [ "JSON", "KRYPTO", "BLOCKCHAIN" ]
emit-json = true
ccopts = [
    "{{ plugin:src }}/plugin_util.cpp",
    "{{ plugin:src }}/crypto.cpp",
    "{{ plugin:src }}/blake2.cpp",
    "-L{{ plugin:lib }}",
    "-I{{ plugin:include }}",
    "-lff",
    "-lcryptopp",
    "-lsecp256k1",
    "-lssl",
    "-lcrypto",
    "-lprocps",
    "-g",
    "-std=c++14",
]
