<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<tests>
    <include file="tests-develop/VMTests/vmArithmeticTest/config.xml" />
    <include file="tests-develop/VMTests/vmBitwiseLogicOperationTest/config.xml" />
    <include file="tests-develop/VMTests/vmIOandFlowOperationsTest/config.xml" />
</tests>
        
