Source: kevm
Section: devel
Priority: optional
Maintainer: Everett Hildenbrandt <everett.hildenbrandt@runtimeverification.com>
Build-Depends: kframework, protobuf-compiler, clang-7, cmake, pkg-config, libjemalloc-dev, libssl-dev, libprocps-dev, libprotobuf-dev, libcrypto++-dev, libsecp256k1-dev
Standards-Version: 3.9.6
Homepage: https://github.com/kframework/evm-semantics

Package: kevm
Architecture: any
Section: devel
Priority: optional
Depends: libjemalloc-dev, libprotobuf-dev, libcrypto++-dev, libsecp256k1-dev
Description: K Semantics of EVM
 Implementation of Ethereum Virtual Machine (EVM) in K.
 kevm-vm executable communicates over protobuf to run EVM transactions.
