<tests>
  <test
    definition="evm-semantics.k"
    extension="evm"
    programs="."
    results="."
    >
    <kompile-option name="--main-module" value="EVM" />
    <program name="sumToN.evm">
      <krun-option name="--prove" value="tests/prover/sumToN_speck.k" />
      <krun-option name="--smt_prelude" value="./include/z3/basic.smt2" />
      <krun-option name="--z3-executable" />
    </program>
  </test>
</tests>
