@font-face {
	font-family: "iconfont";
	src: url("iconfont.eot?8157a3bdde047322b776299f63349c57?#iefix") format("embedded-opentype"),
url("iconfont.woff2?8157a3bdde047322b776299f63349c57") format("woff2"),
url("iconfont.woff?8157a3bdde047322b776299f63349c57") format("woff");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: iconfont !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-close-fullscreen:before {
	content: "\f101";
}
.icon-open-fullscreen:before {
	content: "\f102";
}
.icon-output:before {
	content: "\f103";
}
.icon-coverage:before {
	content: "\f104";
}
.icon-more:before {
	content: "\f105";
}
.icon-copy:before {
	content: "\f106";
}
