//fonts
$base-font                : 'Nunito', sans-serif;
$secondary-font           : 'Lora', serif;

$base-font-size           : 16px;

//colors
$white                    : #ffffff;
$dark                     : #242424;
$fg                       : $dark;
$bg                       : $white;

$gray-darker              : #616161;
$gray-dark                : #8c8c8c;
$gray                     : #cccccc;
$gray-light               : #e8e8e8;
$gray-lighter             : #f5f5f5;

$border-color             : #e8e8e8;
$canvas-color             : #e8e8e8;

//multi colors
$rv-blue: #0099cc;
$rv-blue-dark: #006699;
$rv-yellow: #ffcc00;
$rv-yellow-dark: #ccb400;

$primary-color            : $rv-blue;
$primary-color-dark       : $rv-blue-dark;

$secondary-color          : #7431ff;
$green-color              : #96be5d;
$turquoise-color          : #28c7ac;

$danger-color             : #ef5a5a;
$success-color            : #7dad14;
$warning-color            : #fab63f;
$info-color               : #18b9d4;

$navy-color               : #1d2b40;

$green:       hsl(137, 100%, 95%);
$dark-green:  hsl(133, 100%, 93%);
$red:         hsl(353, 100%, 95%);
$dark-red:    hsl(353, 100%, 93%);
$yellow:      hsl( 67, 100%, 95%);
$dark-yellow: hsl( 67, 100%, 93%);

$background: #fafbfc;

// dark mode
$dark-mode-bg             : #242424;
$dark-mode-fg             : #fff;
$dark-mode-gray           : #ccc;
$dark-mode-gray-darker    : #777;
$dark-mode-gray-light     : #e8e8e8;
$dark-mode-gray-lighter   : #f5f5f5;
$dark-mode-canvas-color   : #2f2f2f;
$dark-mode-border-color   : #414141;

$dark-mode-green:       #295234;
$dark-mode-dark-green:  darken($dark-mode-green, 5);
$dark-mode-red:         #692217;
$dark-mode-dark-red:    darken($dark-mode-red, 5);
$dark-mode-yellow:      #68360b;
$dark-mode-dark-yellow: darken($dark-mode-yellow, 5);

$fullscreen-z-index: 10;

