@use "sass:color";
/*---------------------------------------------------------
Project: CLab - Responsive Multi-purpose Template
version: 1.0
Author: VectorLab
Web: http://thevectorlab.net
-----------------------------------------------------------

/*------------------------------------
Table of Contents
--------------------------------------
01. type
02. header
03. overlay nav
04. footer
05. components
06. bs reset
07. utilities

------------------------------------*/

@import "variables";

/*------------------------------------
type
------------------------------------*/
@import "type";

/*------------------------------------
header
------------------------------------*/
@import "header";

/*------------------------------------
overlay nav
------------------------------------*/
@import "overlay-nav";

/*------------------------------------
footer
------------------------------------*/
@import "footer";

/*------------------------------------
prism dark theme
------------------------------------*/
@import "prism-dark";

/*------------------------------------
Components
------------------------------------*/
@import "components/hero-banner";
@import "components/buttons";
@import "components/accordion";
@import "components/blurb";
@import "components/list-group";
@import "components/carousel";
@import "components/card";
@import "components/form";
@import "components/steps";
@import "components/block-img";
@import "components/progress-bar";
@import "components/tabs";
@import "components/table";
@import "components/team";
@import "components/typed";
@import "components/countdown";
@import "components/portfolio";
@import "components/twitter";
@import "components/floating-kit";
@import "components/blog";
@import "components/shop";
@import "components/sidebar";
@import "components/navbar";
@import "components/nav";

/*------------------------------------
bs reset
------------------------------------*/
@import "bs-reset";

/*------------------------------------
utilities
------------------------------------*/
@import "utilities";

/*------------------------------------
body
------------------------------------*/
html body {
  background-color: $white;

  @media screen and (prefers-color-scheme: dark) {
    background-color: lighten($color: $dark-mode-bg, $amount: 4%);
    color: $dark-mode-fg;
  }
}

/* This should prevent the background scrolling when opening a modal
 */
body.modal-open {
  overflow: hidden;
}

/*------------------------------------
Reports
------------------------------------*/
.report-view-box {
  height: 80vh;
  white-space: pre-wrap;
  overflow: hidden;
  cursor: default;

  & > div {
    overflow: auto;
    height: 100%;
    max-width: 1035px;
    margin: auto;
  }
  .split-view-container {
    display: flex;
    overflow: hidden;

    .solidity-coverage-container {
      display: flex;
      flex-direction: column;
      flex-grow: 0;
      width: 100%;
      min-width: 0;

      .solidity-coverage {
        height: 100%;
        overflow: auto;
      }
      .message-box {
        height: 25%;

        @media screen and (prefers-color-scheme: dark) {
          table.table-light {
            background-color: $dark-mode-bg;
            color: $dark-mode-fg;
          }
        }
      }
    }
    .bytecode-coverage {
      max-width: 25%;
      overflow: auto;
    }
    .contract-explorer {
      width: 25%;
      overflow: auto;
      padding: 8px 0;
      font-size: 0.9rem;
      background-color: #fcfcfc;
      & > ul > li {
        padding: 4px 8px;
        cursor: pointer;
        transition: 0.3s background;
        &:hover {
          background: #ddd;
        }
        &.active {
          background: #8ed3f1; // #1a98cd;
        }

        &:first-child {
          font-size: 1rem;
        }
        &:not(:first-child) {
          margin-left: 0.75rem;
          border-left: 1px solid #ccc;
        }
      }

      @media screen and (prefers-color-scheme: dark) {
        background-color: $dark-mode-bg;
        color: $dark-mode-fg;

        & > ul > li {
          &.active {
            background: $rv-blue; // #1a98cd;
          }
        }
      }
    }
    tr {
      border-bottom: 2px solid transparent;

      &:hover {
        cursor: pointer;
      }
      &.covered:hover {
        border-bottom: 2px solid
          color.scale($green, $lightness: -25%, $saturation: -50%);
      }
      &.weak-covered:hover {
        border-bottom: 2px solid
          color.scale($yellow, $lightness: -25%, $saturation: -50%);
      }
      &.not-covered:hover {
        border-bottom: 2px solid
          color.scale($red, $lightness: -25%, $saturation: -50%);
      }
      &.active {
        filter: brightness(85%);
      }
      &.covered.active {
        border-bottom: 2px solid
          color.scale($green, $lightness: -25%, $saturation: -50%);
      }
      &.weak-covered.active {
        border-bottom: 2px solid
          color.scale($yellow, $lightness: -25%, $saturation: -50%);
      }
      &.not-covered.active {
        border-bottom: 2px solid
          color.scale($red, $lightness: -25%, $saturation: -50%);
      }
    }
    .has-highlight {
      tr {
        &.text-muted {
          &.not-covered,
          &.covered,
          &.weak-covered,
          tr,
          td {
            background-color: inherit !important;
          }
        }
        &.message-muted {
          display: none;
        }
      }
    }
  }
}

.benefits {
  padding-bottom: 48px;
}

.has-highlighted > table {
  tr:not(.highlighted) * {
    color: $gray !important;
    background-color: inherit !important;
  }
}

pre[class*="language-"] {
  background-color: inherit;
  padding: 0;
}

.coverage {
  font-size: 14px;
  overflow: auto;
  height: 100%;

  &:not(.solidity-coverage) {
    font-size: 13px;
  }
  tr {
    td,
    th {
      border-radius: 0 !important;
      padding: 0 0 0 1em;
      border: 0;
      white-space: nowrap;

      pre {
        margin: 0;
      }
    }
    th {
      font-size: 16px;
      border-bottom: 1px solid #dfdfdf;
    }
    td.index,
    th.index {
      text-align: right;
      border-right: 1px solid $gray;
      padding-right: 1ch;
      width: 3em;
    }
    td.index {
      background-color: $background;
    }
    td.opcode {
      font-weight: 600;
    }
    td.hit-count {
      text-align: center;
    }
  }
  tr.covered {
    background-color: $green;
    td {
      background-color: $green;
    }
    td.index {
      background-color: $dark-green;
    }
  }
  tr.not-covered {
    background-color: $red;
    td {
      background-color: $red;
    }
    td.index {
      background-color: $dark-red;
    }
  }
  tr.weak-covered {
    background-color: $yellow;
    td {
      background-color: $yellow;
    }
    td.index {
      background-color: $dark-yellow;
    }
  }

  @media screen and (prefers-color-scheme: dark) {
    color: $dark-mode-gray;

    th {
      color: $dark-mode-fg;
    }

    tr.not-covered,
    tr.covered {
      td.index {
        color: $dark-mode-gray;
      }
    }

    tr {
      th.index {
        border-color: $dark-mode-border-color;
      }
      td.index {
        background-color: $dark-mode-bg;
        border-color: $dark-mode-border-color;
      }

      td.opcode {
        color: $dark-mode-gray;
      }
    }

    tr.covered {
      background-color: $dark-mode-green;
      td {
        background-color: $dark-mode-green;
      }
      td.index {
        background-color: $dark-mode-dark-green;
      }
    }
    tr.not-covered {
      background-color: $dark-mode-red;
      td {
        background-color: $dark-mode-red;
      }
      td.index {
        background-color: $dark-mode-dark-red;
      }
    }
    tr.weak-covered {
      background-color: $dark-mode-yellow;
      td {
        background-color: $dark-mode-yellow;
      }
      td.index {
        background-color: $dark-mode-dark-yellow;
      }
    }
  }
}

.coverage table {
  width: 100%;
}

.mouse-pointer {
  cursor: pointer;
}

.wizard-grid {
  div {
    padding: 10px;
  }

  .btn-outline {
    margin-left: 0px;
  }
}

.wizard-box {
  .btn-outline {
    margin-left: 0px;
  }
}

a.wizard-link:visited {
  color: purple;
}

.code {
  background-color: $background;
  padding: 10px;

  @media screen and (prefers-color-scheme: dark) {
    background-color: $dark-mode-canvas-color;
    color: $dark-mode-fg;
  }
}

.nav-item {
  cursor: pointer;
}

// Newsletter
.ns-form {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-column-gap: 1rem;
}

.btn-disabled {
  border: 2px solid $gray-light;
  background: $white;
  color: gray !important;
  margin-left: 2em;
}

.report-buttons > ul {
  margin: 0;
  display: flex;
  align-items: center;

  & > li {
    p {
      margin: 0;
    }
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }
  .dropdown {
    display: inline-block;

    &.show {
      outline: 2px solid $rv-blue;
    }
    img {
      height: 2rem;

      &:hover {
        outline: 1px solid $rv-blue;
      }
    }
  }
  .dropdown-toggle::after {
    content: none;
  }

  @media screen and (prefers-color-scheme: dark) {
    color: $dark-mode-fg;

    .dropdown-menu,
    .dropdown-item {
      background-color: $dark-mode-bg;
      color: $dark-mode-fg;
    }
    .dropdown-item:hover {
      color: darken($color: $dark-mode-fg, $amount: 24);
    }
  }
}

.report-coverage-row {
  td {
    position: relative;
  }
  .report-container {
    .fullscreen-btn {
      position: absolute;
      cursor: pointer;
      top: 0.5rem;
      right: 2rem;
      font-size: 2rem;
      color: $rv-blue;
    }

    &.fullscreen {
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.9);
      width: 100%;
      height: 100%;
      padding: 2rem;
      z-index: $fullscreen-z-index;
      transition: 0.15s linear;

      .report-wrapper {
        position: relative;
        background-color: #fff;
        padding: 2rem;
        height: 100%;
        overflow: auto;
        border-radius: 0.3rem;
        animation-name: zoom;
        animation-duration: 0.6s;

        .fullscreen-btn {
          position: fixed;
          top: 2rem;
          right: 2.8rem;
        }

        .report-view-box {
          height: calc(100vh - 256px);
        }

        @media screen and (prefers-color-scheme: dark) {
          background-color: $dark-mode-bg;
          th {
            color: $dark-mode-fg;
          }
        }
      }

      .coverage,
      .split-view-container {
        max-width: initial;
      }
    }
  }
}

.introjs-hint.introjs-fixedhint {
  z-index: $fullscreen-z-index + 1;
}

i.fa {
  margin: 0 1ch;
}

.expandable-title {
  transition: 0.3s all;
  padding: 0.3rem 0;

  &:hover {
    cursor: pointer;
    color: $rv-blue;
  }
  &:not(.contract-title) {
    font-weight: normal;
  }
}

.contract-title {
  .contract-coverage {
    float: right;
  }
}

.contract-hint-trigger {
  display: block;
  text-align: center;

  &:hover {
    cursor: pointer;
    color: $rv-yellow;
  }

  .contract-hint-trigger-hidden {
    display: none;
  }
}

.source-name {
  border-bottom: 1px solid $gray;
  font-size: 12px;

  @media screen and (prefers-color-scheme: dark) {
    color: $dark-mode-fg;
    border-color: $dark-mode-border-color;
  }
}

@mixin indent($count) {
  .indent-#{$count} {
    padding-left: #{$count}ch;
  }
}

@include indent(2);

@media (min-width: 1025px) {
  .vlmenu {
    & > li:not(:last-child) {
      margin-right: 20px;
    }
    & > li > a {
      padding-bottom: 0;
    }
    li {
      &:hover {
        border-bottom: 2px solid $rv-yellow;
      }
      &.active {
        border-bottom: 2px solid $rv-yellow;
      }
      & > ul {
        z-index: 1;
      }
    }
  }

  #dashboard-submenu {
    position: relative;

    & > ul {
      z-index: 0;
      position: absolute;
      display: flex;
      justify-content: space-between;
      box-shadow: none;
      top: 50px;
      right: 0;
      width: 260px;

      & > li {
        display: inline-block;

        & > a {
          display: inline-block;
          padding: 0;
          &:hover {
            background: none;
            color: black;

            @media screen and (prefers-color-scheme: dark) {
              color: $dark-mode-fg;
            }
          }
        }
      }
    }
  }
}

.breadcrumb {
  background-color: inherit;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">" !important;
}

div.table-responsive {
  padding: 0 8px;
}

#youtube-video {
  height: 303.75px;
  width: 540px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d7d7d7;
}

video {
  width: 100% !important;
  height: auto !important;
}

.gif:hover {
  opacity: 0.7;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: $rv-blue;
}

.divider-bar-closed {
  background: $rv-blue;
  color: white;

  &:hover {
    background: color.scale($rv-blue, $lightness: -10%);
  }
}

.divider-bar-opened {
  background: $rv-yellow;

  &:hover {
    background: color.scale($rv-yellow, $lightness: -10%);
  }
}

.divider-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-shrink: 0;
  transition: background 0.2s ease-in-out;

  span {
    letter-spacing: 1px;
  }

  @media screen and (prefers-color-scheme: dark) {
    background: lighten($dark-mode-canvas-color, 2);
    color: $dark-mode-fg;

    &:hover {
      background-color: lighten($color: $dark-mode-canvas-color, $amount: 4);
    }
  }
}

.divider-bar-vertical {
  flex-direction: column;
  width: 1.3rem;

  span {
    writing-mode: vertical-lr;
    text-orientation: sideways;
  }
  i {
    margin: 1ch 0;
  }
}

.divider-bar-horizontal {
  flex-direction: row;
  height: 1.3rem;
}

#contact-links {
  li:hover {
    cursor: pointer;
    border: none !important;
  }
  img {
    height: 1.5rem;
  }
}

.icon {
  font-size: 2rem;
  color: $rv-blue;
  transition: 0.2s color;
  &:hover {
    color: $rv-blue-dark;
  }
  &.active {
    color: $rv-yellow;
    &:hover {
      color: $rv-yellow-dark;
    }
  }
}

.introjs-tooltip {
  @media screen and (prefers-color-scheme: dark) {
    background-color: $dark-mode-bg;
  }
}

.introjs-helperLayer {
  @media screen and (prefers-color-scheme: dark) {
    background-color: rgba(65, 65, 65, 0.9);
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

#email-modal {
  z-index: 2000;
}

/* Modal Content (Gif) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1024px;
}

video.modal-content {
  margin-top: 100px;
}

/* Caption of Modal*/
#modal-caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#modal-caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: $rv-yellow;
  font-size: 50px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: $rv-yellow-dark;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 1024px) {
  .modal-content {
    width: 100%;
  }
}

.logo-link {
  color: $fg;
  @media screen and (prefers-color-scheme: dark) {
    color: $dark-mode-fg;
  }
}

pre[class*="language-"] {
  background-color: #f7f8fa;
  font-size: 0.85rem;
  word-break: normal;
  white-space: pre-wrap;
  padding: 16px;
  overflow: auto;
}

@media screen and (prefers-color-scheme: dark) {
  pre[class*="language-"] {
    background-color: darken($color: $dark-mode-canvas-color, $amount: 5%);
  }
}
