name: 'Update Nix Flake Inputs'
on:
  push:
    branches:
      - '_update-deps_runtimeverification_haskell-backend'
      - '_update-deps_runtimeverification_llvm-backend'
  workflow_dispatch:
# Stop in progress workflows on the same branch and same workflow to use latest committed code
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  nix-flake-submodule-sync:
    name: 'Nix flake submodule sync'
    runs-on: ubuntu-latest
    steps:
      - name: 'Check out code, set up Git'
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.JENKINS_GITHUB_PAT }}
          submodules: recursive
      - run: |
          git config --global user.name rv-jenkins
          git config --global user.email devops@runtimeverification.com

      - name: 'Install Nix'
        uses: cachix/install-nix-action@v15
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
            substituters = http://cache.nixos.org https://cache.iog.io
            trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ=

      - name: 'Install Cachix'
        uses: cachix/cachix-action@v10
        with:
          name: k-framework
          authToken: '${{ secrets.CACHIX_PUBLIC_TOKEN }}'

      - name: 'Update Nix flake inputs from submodules'
        run: |
          GC_DONT_GC=1 nix run .#update-from-submodules
          if git add 'flake.lock' && git commit -m 'Sync flake inputs to submodules'; then
            git push
          fi
